<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Curriculum Vitae</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="ion-text-center" >
    <ion-avatar class="item-avatar" style="vertical-align: middle;">
      <img src="../../assets/FotoPersonal.jpg" />
    </ion-avatar>
    <h1 class="ion-padding">Jonathan Isai Ocegueda Ortiz</h1>
  </ion-item>

  <ion-item class="ion-text-center" style="margin-top: 30px;">
    <h1>Habilidades y destrezas</h1>
  </ion-item>
  <div class="ion-text-center">
    <p>Inglés B1</p>
    <p>Conocimiento de metodología SCRUM</p>
    <p>Manejo de equipos</p>
    <p>Proactivo</p>
    <p>Comprometido</p>
    <p>Responsable</p>
  </div>

  <ion-item class="ion-text-center">
    <h1>Estudios</h1>
  </ion-item>
  <div class="ion-text-center">
    <div>
      <h1>Tecnico en programación</h1>
      <p>CECYTE 02 Tepic Generación 2015 – 2018</p>
    </div>
    <div>
      <h1>Ingeniero en sistemas computacionales </h1>
      <p>el Instituto Tecnologico de Tepic Desde el 2018 – presente</p>
    </div>
  </div>

  <ion-item class="ion-text-center">
    <h1>Experiencia en concursos</h1>
  </ion-item>
  <div class="ion-text-center">
    <div>
      <h1>1st Place: Tec Challenge, Tecnológico de Monterrey | 2017</h1>
      <p>Diseñar y desarrollar un chatbot de facebook usando la nube
        herramientas, reto presencial que se llevó a cabo en Tepic
        ciudad</p>
    </div>
    <div>
      <h1>Finalist: Hackaton "México hackea la pandemia" | 2020</h1>
      <p>Diseñar y desarrollar una aplicación móvil para ayudar a los locales
        negocio en aumentar sus ventas, usando android
        servicios de estudio y firestore</p>
    </div>
  </div>

  <ion-item class="ion-text-center">
    <h1>Tecnologias que manejo</h1>
  </ion-item>
  <div class="ion-text-center" style="margin-bottom: 30px;">
    <ion-chip color="success">App development in Android Studio</ion-chip>
    <ion-chip color="success">AngularJS</ion-chip>
    <ion-chip color="success">Laravel</ion-chip>
    <ion-chip color="success">Java</ion-chip>
    <ion-chip color="success">SQL</ion-chip>
    <ion-chip color="success">JavaScript</ion-chip>
    <ion-chip color="success">Kotlin</ion-chip>
    <ion-chip color="success">C#</ion-chip>
  </div>

  
</ion-content>
